<div class="container">

<h2>Headings</h2>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>
<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
<h6>Lorem ipsum dolor sit amet consectetur adipisicing elit</h6>

<h2>Paragraphs</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero aperiam atque aspernatur! Minus ipsa ut obcaecati sequi non provident eos, corrupti laudantium, natus ipsum earum aut odit id inventore hic.</p>

<h2>Links</h2>
<a href="#">Link 1</a>

<h2>Buttons</h2>
<button class="btn">Click me!</button>

<h2>Forms</h2>
<form>
	<input type="e-mail" placeholder="Name">
	<input type="text" placeholder="Name">
	<input type="password" placeholder="Name">
	<button type="submit">Submit button</button>
</form>

<h2>Lists</h2>
<ul>
	<li>List 1</li>
	<li>List 2</li>
	<li>List 3</li>
	<li>List 4</li>
	<li>List 5</li>
</ul>

<h2>Bootstrap Grid</h2>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo libero provident similique non ad, enim dolores voluptatum repellat sequi minima saepe hic vel laudantium iste vero. Facilis, blanditiis fugiat.</p>
		</div>
		<div class="col-md-3">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo libero provident similique non ad, enim dolores voluptatum repellat sequi minima saepe hic vel laudantium iste vero. Facilis, blanditiis fugiat.</p>
		</div>
		<div class="col-md-3">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo libero provident similique non ad, enim dolores voluptatum repellat sequi minima saepe hic vel laudantium iste vero. Facilis, blanditiis fugiat.</p>
		</div>
	</div>
</div>


</div>
