<header data-component="header">
	<div class="container">
		<button class="btn btn-collapse">
			<span></span>
			<span></span>
			<span></span>
		</button>

		{{> menu.menu }}

		<h1 class="logo">
			<a href="javascript:void(0);">
				<img src="assets/img/owme.jpg" alt="Owme">
			</a>
		</h1>
	</div>
</header>
