<header data-component="header">
	<div class="container">
		<button class="btn btn-collapse">
			<span></span>
			<span></span>
			<span></span>
		</button>

		{{> navigation.nav-left }}

		<h1 class="logo">
			<a href="javascript:void(0);">
				<img src="assets/img/owme.png" alt="Owme">
			</a>
		</h1>

		{{> navigation.nav-right }}

	</div>
</header>
