<div data-component="pagination" class="pagination">
    <button class="btn btn-previous-page blocked">
        <img src="assets/img/arrow.png">
    </button>
    <ul class="pagination-items"></ul>
    <button class="btn btn-next-page">
        <img src="assets/img/arrow.png">
    </button>
</div>