<div data-component="pagination">
    <button class="btn btn-previous-page">
        <img src="assets/img/arrow.png">
    </button>
    <ul>
        <li>
            <a class="active" href="javascript:void(0);">1</a>
        </li>
        <li>
            <a href="javascript:void(0);">2</a>
        </li>
        <li>
            <a href="javascript:void(0);">3</a>
        </li>
        <li>
            <a href="javascript:void(0);">4</a>
        </li>
        <li>
            <a href="javascript:void(0);">5</a>
        </li>
    </ul>
    <button class="btn btn-next-page blocked">
        <img src="assets/img/arrow.png">
    </button>
</div>