<div data-component="pagination" class="pagination">
    <button class="btn btn-previous-page blocked"></button>
    <ul class="pagination-items"></ul>
    <button class="btn btn-next-page"></button>
</div>