@import 'base/colors';
@import 'utils/medias';

[data-component='overlay'] {
    @include desktop() {
        display: none;
    }
    position: fixed;
    background: $black-lighter;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: block; 
    transform: translateX(100%);
    transition: all .35s ease-in-out;

    &.show {
        transform: translateX(0);
    }
} 