<nav data-component="navigation" role="navigation" class="nav-left nav-collapse">
    <button class="btn btn-close-collapse">
        <span></span>
        <span></span>
    </button>
    <ul>
        <li>
            <a href="javascript:void(0);" title="Sapatos">Sapatos</a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Novidades">Novidades</a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Quem somos">Quem somos</a>
        </li>
        <li>
            <a class="active" href="javascript:void(0);" title="Bazar">Bazar</a>
        </li>
        <li class="my-account">
            <a href="javascript:void(0);" title="Minha conta">Minha conta</a>
        </li>
    </ul>
</nav>