<nav data-component="navigation" role="navigation" class="nav-right nav-collapse">
    <ul>
        <li>
            <a href="javascript:void(0);" title="Buscar">Buscar</a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Minha conta">Minha conta</a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Sacola">Sacola</a>
        </li>
    </ul>
</nav>